<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation App</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
    </style>
</head>

</script>
<body>
    <nav>
        <ul>
            <li id="home"><a href="#home">Home</a></li>
            <li><a href="movies">Movies</a></li>
        </ul>
    </nav>

    <!-- Home page movies-->
    <section>
        <div class="header">
                 <h2>Movies to watch</h2>
                 <form action="" method="get">
                    <input type="text" placeholder="search here">
                    <button>Search</button>
                 </form>
        </div>
        <div class="row" id="row">
           <div class="col">
            <figure>
                <a href="/castle">
                    <img src="../static/img/castle.jpg" alt="">
                </a>
    
                <figcaption>
                    Castle and Castle
                </figcaption>
            </figure>
           </div>
           <div class="col">
                  <figure>
                    <a href="/recommend">
                         <img src="../static/img/king_of_boys.jpg" alt="">
                    </a>
                <figcaption>
                    King of Boys
                </figcaption>
            </figure>
           </div>
           <div class="col">
                   <figure>
                  <img src="../static/img/omo ghetto.jpg" alt="">
                <figcaption>
                    Omo Ghetto
                </figcaption>
            </figure>
           </div>
        </div>
        <div class="row"> 
            <div class="col">
                   <figure>
                  <img src="../static/img/jekwu.jpg" alt="">
                <figcaption>
                    Brother Jekwu
                </figcaption>
            </figure>
            </div>
            <div class="col">
                   <figure>
                  <img src="../static/img/quams_money.jpg" alt="">
                <figcaption>
                    Quams money
                </figcaption>
            </figure>
            </div>
            <div class="col">
                   <figure>
                  <img src="../static/img/76.jpg" alt="">
                <figcaption>
                    76
                </figcaption>
            </figure>
            </div>
        </div>


              <div class="row"> 
            <div class="col">
                   <figure>
                  <img src="../static/img/flower_girl.jpg" alt="">
                <figcaption>
                    Flower Girl
                </figcaption>
            </figure>
            </div>
            <div class="col">
                   <figure>
                  <img src="../static/img/sanitation_day.jpg" alt="">
                <figcaption>
                    Sanitation Day
                </figcaption>
            </figure>
            </div>
            <div class="col">
                   <figure>
                  <img src="../static/img/tango_with_me.jpg" alt="">
                <figcaption>
                    Tango with me
                </figcaption>
            </figure>
            </div>
        </div>
    </section>
</body>
</html>