<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style2.css">
    <title>Movie Recommendation App / Castle and Castle</title>
</head>
<body>
    <nav>
        <ul>
            <li id="home"><a href="#home">Home</a></li>
            <li><a href="movies">Movies</a></li>
        </ul>
    </nav>

    <div class="row-2">
            <figure class="figure">
                <a href="/castle">
                    <img src="../static/img/castle.jpg" alt="">
                </a>
    
                <figcaption>
                    Castle and Castle
                </figcaption>
    </figure>

    <div class="description">
        <p>

        </p>
    </div>
    </div>


    <div class="rec-cont">

        <h2>Recommended Movies</h2>
        <div class="row" id="row">
           <div class="col">
            <figure>
                <a href="/castle">
                    <img class="img" src="../static/img/king_of_boys.jpg" alt="">
                </a>
                <figcaption>
                    King of Boys
                </figcaption>
            </figure>
           </div>
           <div class="col">
                  <figure>
                    <a href="/recommend">
                         <img class="img" src="../static/img/governor.jpg" alt="">
                    </a>
                <figcaption>
                    Governor
                </figcaption>
            </figure>
           </div>
           <div class="col">
                   <figure>
                  <img class="img" src="../static/img/fifty.png" alt="">
                <figcaption>
                    Fifty
                </figcaption>
            </figure>
           </div>
        </div>
    </div>

</body>
</html>